language: java

addons:
  sonarcloud:
    organization: "tolpp-github"
    token:
      secure: "WOGEZiPG5YK+REoCWrLJMtep3DWg69y7dzjUwe7cpLfIARcTA9b0T3ICJAxBD15nFTAU4txQTYiOAvv7d/2Vk8MEtQDowpRvb+NfmL0Ujk8Sttf7xELjkxcc3Q5I4e+ASXvgyIaP2wz6ofv/oM69NNPnqz9cRuDNbkdCdadlERJU3mIvA4253EjGF/FEuSpXzPxIKL/GoCZuZL2k6bJU9p03AZjdQytsjdQcMPiO8zB51O2CnwM7RIXLV2LolauPHTyBhBdu2g4B0x3KtjxnUTyvtd+ZEE2Yl8lPs7YQeaCk5qu6eYTFQqiET7TZpnqLh9TtjurFUHDtBV0Ed18j81SJ3OnI64FJMuX9vV0zGOS6gOPgHtnLQeGSSn7fw1YF79m6vmsf/g113JsTRpwDZ2Tv99cfdV5k5s5r1hOlz9HHapp7nakVm6yZNh4vHeCPs4+shIvDry2jIxtHXHjI7KgON87ZOtAUiN3ancXyEbyFzamvEK5fC9Z2OJvGMWpN3NZrWnfo+2VuBWXvQ+ai+E9YpMtLn7S94GdhPTkZZArjZv9f6BGc/tSO57sYFBphD9gs9WbpAzJz5ZitAPjSxCgTgTocwTg30Piz1nMskL9SfwgeAcUSMpAoIBnMHNaljYbTgHfE377/PtZVAU7ZVGAcygT2pGcdj6bWA9HU8nk="

after_success:
  - ./gradlew test jacocoTestReport coveralls
  - ./gradlew sonarqube
